body,
html {
  width: 100%;
  height: 100%; 
}

.header{
    background-image: url("image_header.jpg"); 
    background-position: center;
    background-size: cover;
    height: 100%;

}

#big-head{
    margin-top: 300px;
    margin-bottom: 300px;
    font-family: 'Joti One', cursive;
    font-size: 4em;
    color: #AA6C39;
    font-weight: 700;
    text-shadow: #552700 2px 2px, #552700 -2px 2px, #552700 -2px -2px, #552700 2px -2px;
}

.btn {
    size: 150%;
    border-radius: 300px;
    border-color: #804515;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    background-color: #804515;
    color: #D49A6A;
    transition: all 1s;
}

.btn-xl:hover {
    transform: scale(1.5, 1.5);
    background-color: #804515;
    color: #D49A6A;
    border-color: #804515;
}

.btn-outline-active {
  background-color: #804515;
  color: #D49A6A;
  border-color: #804515;
}